/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
}

/* Estilos para a seção principal */
#home {
    background-image: linear-gradient(rgb(245, 240, 236), rgb(53, 64, 69));
    min-height: 100vh;
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos para o menu */
#menu {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(53, 64, 69);
    padding: 3px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#header_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header_menu li {
    display: inline-block;
    margin: 0 10px;
}

#header_menu a {
    text-decoration: none;
    color: white;
    position: relative;
}

#header_menu a::after {
    content: "";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #7098f6, #571074);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

#header_menu a:hover::after {
    width: 40px;
}

#titulo {
    margin-left: 1em;
    margin-top: 0em;
}

/* Estilos para a seção de introdução */
#inicio {
    margin-top: 7em;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#foto_home {
    max-width: 200px;
    margin-left: 4em;
    margin-right: 1em;
}

#apresentacao_inicial {
    display: flex;
    flex-direction: column;
    margin-left: 0em;
}

#name {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0em;
    font-size: 40px;
}

#texto_home {
    margin-top: 0;
    margin-right: 46em;
    font-style: italic;
    font-size: 12px;
}

/* Media query para ajustes em todos os tamanhos de tela */
@media screen and (max-width: 1200px) {
    #foto_home {
        max-width: 150px;
        margin-left: 2em;
        margin-right: 0.5em;
    }
    #texto_home {
        margin-right: 0;
    }
}

@media screen and (max-width: 992px) {
    #foto_home {
        max-width: 120px;
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

@media screen and (max-width: 768px) {
    #menu {
        flex-direction: column;
        align-items: center;
    }
    #header_menu ul {
        padding: 0;
    }
    #header_menu li {
        margin: 10px 0;
    }
    #foto_home {
        max-width: 100%;
        margin: 0 auto;
    }
    #inicio {
        flex-direction: column;
        align-items: center;
    }
    #apresentacao_inicial {
        text-align: center;
    }
    #texto_home {
        margin-right: 0;
    }
}